$primary-color: #fb6970;
$primary-color-hover: #f3565d;
$primary-color-light: #ffabaf;
$picked-date: #ffd9da;
$primary-color-20: rgba(251, 105, 112,0.2);
$secondary-color: #dfe6e9;
$black-color: #343434;
$android-hex: #a4c639;
$apple-hex: #E4E4E2;
$apple-stroke: #a7a7a7;
$border-color: #ced4da;
$black: #000;
$white: #fff;
$bg-color: #fff2f2;
$bg-search-light: #ffffffcc;