.header {
    .navbar{
        //background: transparent;
        //height: 100px;
        position: relative;
        z-index: 11;
        .logo{
            position: relative;
            z-index: 9;
            img{
                width: 90px;
            }
            .navbar-toggler {
                float: right;
                margin-top: 15px;
                border-color: transparent;
                &:focus {
                    box-shadow: transparent;
                    border: none;
                    outline: 5px auto transparent;
                }
            }
        }
        /*
        .navbar-nav {
            text-align: center;
            padding: 20px 0;
            .nav-item{
                margin: 10px 0;
                color: $black-color;
                &.active {
                    .nav-link{
                        color: $primary-color;
                        font-weight: 500;
                    }
                }
                .nav-link{
                    font-size: 15px;
                    font-weight: 400;
                    text-transform: capitalize;
                }
            }
        }
        */

    }
    /*
    #bg-mobile{
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0%;
        background-color: $bg-color;
        will-change: transform;
        z-index: -1;
        display: none;
        @media screen and ( max-width: 991px ){
            display: block;
        }
    }
    */
}

.searchBar {
    background: $bg-search-light;
    padding: 20px 50px;
    border-radius: 20px;
    width: 800px;
    min-height: 300px;
    height: auto;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 15px 0px rgba(255, 0, 0, 0.05);

    @media screen and (max-width: 768px){
        width: calc(100% - 50px);
    }
    form{
        .form-group{
            margin: 50px 0;
            padding: 10px;
            input{
                background: none;
                border-radius: 0;
                border-color: transparent;
                padding: 0;
                margin: 0;
                border-bottom: 1px solid $secondary-color;
                transition: .5s;
                font-size: 13px;
                &:focus{
                    box-shadow: none;
                    border-bottom-color: $primary-color;
                }
                &::placeholder{
                    font-size: 12px;
                    font-family: 'Montserrat', sans-serif;
                    opacity: .5;
                }
            }
        }
        .btn{
            background: $primary-color;
            border: 1px solid $primary-color-hover;
            border-radius: 50px;
            width: 50%;
            height: 45px;
            display: block;
            margin: 0 auto 20px;
            transition: .5s;
            font-size: 15px;
            &:hover{
                background: $primary-color-hover;
                border: 1px solid $primary-color;
            }
        }
    }
}