.listMessages{
    .own-container{
        max-width: calc(100% - 200px);
        margin: 0 auto;
        @media screen and (max-width: 1200px){
            max-width: calc(100% - 40px);
        }
        
        .table{
            thead{
                tr th{
                    vertical-align: text-top;
                    padding: 20px 10px;
                }
            }
            tbody{
                .os{
                    .fa-android{
                        color: $android-hex;
                    }
                    .fa-apple{
                        color: $apple-hex;
                        -webkit-text-stroke-width: 0.01px;
                        -webkit-text-stroke-color: $apple-stroke;
                    }
                }
                .message{
                    h4{
                        font-size: 15px;
                        line-height: 25px;
                    }
                }
            }
        }

        nav.pagination, ul.pagination{
            margin: 0 auto;
            .page-link{
                color: $primary-color;
            }
        }
    }
}