#main{
    width: 100%;
    height: 100vh;
    //overflow: hidden;
    //background: #000;

    .login{
        position: relative;
        width: 100%;
        height: 100vh;
        
        .dash{
            background: rgba(255, 255, 255, 0.8);
            padding: 20px 50px;
            border-radius: 20px;
            width: 600px;
            min-height: 300px;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0px 0px 15px 0px rgba(255, 0, 0, 0.05);

            @media screen and (max-width: 768px){
                width: calc(100% - 50px);
            }
            .logo{
                text-align: center;
                margin: 20px auto 50px;
                img{
                    width: 120px;
                }
            }
            form{
                .form-group{
                    margin: 50px 0;
                    padding: 10px;
                    label{
                        font-size: 15px;
                        letter-spacing: 0.2px;
                        text-transform: uppercase;
                        font-weight: 500;
                        color: $black-color;
                    }
                    input{
                        background: none;
                        border-radius: 0;
                        border-color: transparent;
                        padding: 0;
                        margin: 0;
                        border-bottom: 1px solid $secondary-color;
                        transition: .5s;
                        font-size: 13px;
                        &:focus{
                            box-shadow: none;
                            border-bottom-color: $primary-color;
                        }
                        &::placeholder{
                            font-size: 12px;
                            font-family: 'Montserrat', sans-serif;
                            opacity: .5;
                        }
                    }
                }
                .btn{
                    background: $primary-color;
                    border: 1px solid $primary-color-hover;
                    border-radius: 50px;
                    width: 50%;
                    height: 45px;
                    display: block;
                    margin: 0 auto 20px;
                    transition: .5s;
                    font-size: 15px;
                    &:hover{
                        background: $primary-color-hover;
                        border: 1px solid $primary-color;
                    }
                }
            }
        }
    }
}