.listResults{
    margin-top: 80px;
    .hide{
        display: none !important;
    }
    .show{
        display: block !important;
    }
    .menuLeft{
        .menu{
            padding: 0;
            .item-menu{
                display: block;
                list-style: none;
                background-color: $bg-search-light;
                border: 1px solid $border-color;
                    &.active{
                        background-color: $picked-date;
                        a{
                            color: $primary-color;
                        }
                    }
                    &:hover{
                        opacity: 0.8;
                    }
                .link-menu{
                    text-decoration: none;
                    font-size: 15px;
                    color: $black-color;
                    width: 100%;
                    height: 100%;
                    padding: 20px 25px;
                    display: block;
                }
            }
        }
    }
    .resultRight{
        .profile{
            .user-info{
                .personal{
                    display: flex;
                    flex-wrap: wrap;
                    .name, .email, .phone, .city, .address{
                        margin: 20px 0;
                        flex: 0 50%;
                        h4{
                            font-size: 18px;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                        p{
                            font-size: 13px;
                            font-weight: 500;
                        }
                    }
                }
            }
            .card-user{
                position: relative;
                @media screen and (max-width: 991px){
                    margin: 20px auto;
                }
                &.gold, &.silver{
                    .personal{
                        .name, .email, .phone, .city, .address{
                            h4{
                                color: $black;
                            }
                            p{
                                color: $white;
                            }
                        }
                    }
                }
                &.blue{
                    .personal{
                        .name, .email, .phone, .city, .address{
                            h4{
                                color: $white;
                            }
                            p{
                                color: $white;
                            }
                        }
                    }
                }
                
                .personal{
                    position: absolute;
                    display: flex;
                    flex-wrap: wrap;
                    top: 50%;
                    left: 10%;
                    transform: translate(-8%, -50%);
                    //padding-right: 100px;
                    @media screen and (max-width: 991px){
                        //padding-right: 200px;
                    }
                    .name, .email, .phone, .city, .address{
                        flex: 0 35%;
                        h4{
                            font-size: 15px;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                        p{
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                    .address{
                        display: block;
                        flex: 0 100%;
                    }
                }
            }
        }
        .info-card, .testing{
            display: flex;
            flex-wrap: wrap;
            .item{
                flex: 0 45%;
                border: 1px solid $border-color;
                min-height: 200px;
                margin: 0 auto 30px;
                position: relative;
                .head{
                    background-color: $bg-color;
                    height: 35px;
                    padding: 0 10px;
                    position: relative;
                    .numero{
                        font-size: 15px;
                        font-weight: 500;
                        text-align: left;
                        color: $black-color;
                        padding: 7px 0px 0;
                    }
                    .status{
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translate(0%, -50%);
                        font-size: 10px;
                        text-transform: uppercase;
                        font-weight: 500;
                        &.red{
                            &:before {
                                content: '';
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                border-radius: 20px;
                                background-color: #ff7675;
                                top: 3px;
                                left: -15px;
                            }
                        }
                        &.green{
                            &:before {
                                content: '';
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                border-radius: 20px;
                                background-color: #00b894;
                                top: 3px;
                                left: -15px;
                            }
                        }
                        &.yellow{
                            &:before {
                                content: '';
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                border-radius: 20px;
                                background-color: #fdcb6e;
                                top: 3px;
                                left: -15px;
                            }
                        }
                    }
                }
                .content{
                    padding: 0 10px;
                    text-align: center;
                    .point-vente{
                        font-size: 18px;
                        font-weight: 700;
                        color: $primary-color;
                        text-transform: uppercase;
                        margin: 15px auto;
                    }
                    .caisse, .ca, .montant-total{
                        font-size: 13px;
                        font-weight: 400;
                        color: $black-color;
                        margin: 15px auto;
                    }
                    .value{
                        font-size: 13px;
                        font-weight: 400;
                        color: $black-color;
                    }
                }
                .bot{
                    bottom: 0;
                    left: 0;
                    right: 0;
                    position: absolute;
                    background-color: $bg-color;
                    height: 35px;
                    padding: 0 10px;
                    .date{
                        display: inline-block;
                        &.left{
                            float: left;
                        }
                        &.right{
                            float: right;
                        }
                        
                    .date-utilisation, .date-expiration{
                        font-size: 10px;
                        font-weight: 500;
                        margin-top: 5px;
                        text-align: center;
                        span{
                            display: block;
                        }
                    }
                    }
                }
            }
        }
        .testing{
            .item{
                padding: 0 0 35px;
            }
        }
    }
}