.show{
    display: block !important;
}
.popupAdd{
    position: fixed;
    background: rgba($color: $black, $alpha: 0.5);
    width: 100%;
    height: 100vh;
    z-index: 13;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    .pop {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        background: $white;
        padding: 50px;
        @media screen and (max-width: 991px){
            width: 90%;
        }
        .close{
            position: absolute;
            right: 30px;
            top: 30px;
            cursor: pointer;
        }
        form{
            margin-top: 30px;
            .form-group{
                margin-bottom: 25px;
                label {
                    display: block;
                    font-size: 15px;
                    font-weight: 700;
                }
                input, textarea{
                    display: block;
                    width: 100%;
                    font-size: 12px;
                    padding: 10px;
                    border: 1px solid $border-color;
                    border-radius: .25rem !important;
                    min-height: 40px;
                    resize: none;
                }
            }
            .custom-control{
                font-size: 12px;
                margin-bottom: 25px;
                .custom-control-label::before{
                    top: .15rem;
                }
                .custom-control-label::after{
                    top: 0.15rem;
                }

                input:checked~label {
                    font-style: italic;
                }
            }
            .btn {
                margin-top: 25px;
                width: 50%;
                background: $primary-color;
                color: $white;
                margin: 0 auto;
                border: 1px solid $primary-color-hover;
                display: block;
            }
        }
    }
}
.results{
    margin-top: 80px;
    position: relative;
    
    .filter{
        select{
            width: 100%;
            height: 30px;
            padding: 5px 10px;
            display: block;
            font-size: 12px;
            border: 1px solid $border-color;
            &:focus{
                box-shadow: none;
                outline: 5px auto transparent;
                border: 1px solid $border-color;
            }
        }
        label{
            font-size: 12px;
        }
        input, .dateDiv{
            width: 100%;
            height: 30px;
            padding: 5px 10px;
            border: 1px solid $border-color;
            border-radius: .25rem;
            font-size: 12px;
            display: block;
        }
        .left{
            text-align: right;
            .btn{
                background: $primary-color;
                border: 1px solid $primary-color-hover;
                transition: .5s ease-in-out;
                &:hover{
                    background: $primary-color-hover;
                }
            }
        }
        .right{
            text-align: right;
            .btn{
                background: transparent;
                border: 1px solid $primary-color-hover;
                color: $primary-color;
                transition: .5s ease-in-out;
                &:hover{
                    background: $primary-color-light;
                    border: 1px solid $primary-color;
                    color: $white;
                }
            }
        }
        .btn{
            width: 80%;
            margin-top: 25px;
            height: 40px;
            text-transform: uppercase;
            font-size: 12px;
            padding: 10px 0;
            @media screen and (max-width: 991px){
                width: 100%;
            }
        }
    }
    .table-hover tbody tr:hover{
        background-color: $primary-color-20;
    }
    .table{
        margin-top: 50px;
        thead{
            tr{
                th{
                    font-size: 15px;
                    color: $black-color;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }

        tbody{
            tr{
                th{
                    .custom-control{
                        .custom-control-label::before{
                            border: 1px solid $primary-color;
                        }
                        
                        .custom-control-input:checked~.custom-control-label::before{
                            background-color: $primary-color;
                            border: 1px solid $primary-color;
                        }
                        
                        .custom-checkbox .custom-control-input:checked~.custom-control-label::after{
                            background: $primary-color;
                            border: 1px solid $primary-color-hover;
                            background-image: none;
                        }
                    }
                }
                td{
                    font-size: 13px;
                    font-weight: 400;
                    .libele{
                        h4{
                            font-size: 15px;
                            font-weight: 700;
                            padding: 0;
                            margin: 0;
                        }
                        p{
                            font-size: 12px;
                            font-weight: 400;
                            margin-top: 3px;
                        }
                    }
                }
            }
        }
    }
}


.datepicker-panel > ul > li.highlighted,
.datepicker-panel > ul > li.picked {
    background-color: $picked-date;
}
.datepicker-panel > ul > li.picked, .datepicker-panel > ul > li.picked:hover{
    color: $primary-color-hover;
}
.datepicker-panel > ul > li:hover{
    background-color: $picked-date;
}